{{#each pubs}}
  <article id="pub-{{_id}}" class="message is-success is-light">
    <div class="message-header">
      <p>{{name}}</p>
    </div>
    <div class="message-body">
      <p class="mb-2">{{description}}</p>
      <p><strong>Location:</strong> {{latitude}}, {{longitude}}</p>
      <p>
        <strong>Categories:</strong>
        {{#if categories.daytime}} Daytime {{/if}}
        {{#if categories.nighttime}} Nighttime {{/if}}
        {{#if categories.liveMusic}} Live Music {{/if}}
        {{#if categories.dj}} DJ {{/if}}
      </p>
      {{#if isAuthor}}
        <div class="buttons mt-3">
          <a href="/pub/{{_id}}/edit" class="button is-small is-link is-light">Edit</a>
          <a href="/pub/{{_id}}/delete" class="button is-small is-danger is-light">Delete</a>
        </div>
      {{/if}}
    </div>
  </article>
{{/each}}

{{! prettier-ignore }}
<script>
  const activePubId = "{{pubId}}";
  if (activePubId) {
    const el = document.getElementById(`pub-${activePubId}`);
    el.classList.remove("is-success");
    el.classList.add("is-warning");
  }
</script>